<div class="container">
  <div class="content">
    <h4>Nova Consulta</h4>
    <form  [formGroup]="formNewSchedule">

      <div class="inputContainer">
        <select formControlName="specialty">
          <option *ngFor="let item of specialties" [value]="item.id">{{item.nome}}</option>
        </select>
      </div>

      <div class="inputContainer">
        <select formControlName="medic">
          <option *ngFor="let item of specialties" [value]="item.id">{{item.nome}}</option>
        </select>
      </div>

      <div class="inputContainer">
        <select formControlName="date">
          <option *ngFor="let item of specialties" [value]="item.id">{{item.nome}}</option>
        </select>
      </div>

      <div class="inputContainer">
        <select formControlName="hour">
          <option *ngFor="let item of specialties" [value]="item.id">{{item.nome}}</option>
        </select>
      </div>

      <div class="buttons">
        <app-custom-button text="Cancelar" theme="ghostPrimary" (click)="closeModal()"></app-custom-button>
        <app-custom-button text="Confirmar" theme="primary" (click)="confirmSchedule()" [disabled]="formNewSchedule.invalid"></app-custom-button>
      </div>
    </form>
  </div>
</div>
